@media only screen and (min-width: 64em){
    .grid{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .pic1:hover {box-shadow: 0 0 50px #333;}
    .pic2:hover {box-shadow: 0 0 50px #333;}
    .pic3:hover {box-shadow: 0 0 50px #333;}
    .pic4:hover {box-shadow: 0 0 50px #333;}
    .pic5:hover {box-shadow: 0 0 50px #333;}
    .pic6:hover {box-shadow: 0 0 50px #333;}
    .pic7:hover {box-shadow: 0 0 50px #333;}
    .pic8:hover {box-shadow: 0 0 50px #333;}
    .pic9:hover {box-shadow: 0 0 50px #333;}


    .pic1:hover img {
        opacity: 0.3;
    }
    
    .pic1:hover .middle {
        opacity: 1;
    }
    
    .pic2:hover img {
        opacity: 0.3;
    }
    
    .pic2:hover .middle {
        opacity: 1;
    }
    
    .pic3:hover img {
        opacity: 0.3;
    }
    
    .pic3:hover .middle {
        opacity: 1;
    }
    
    .pic4:hover img {
        opacity: 0.3;
    }
    
    .pic4:hover .middle {
        opacity: 1;
    }
    
    .pic5:hover img {
        opacity: 0.3;
    }
    
    .pic5:hover .middle {
        opacity: 1;
    }
    
    .pic6:hover img {
        opacity: 0.3;
    }
    
    .pic6:hover .middle {
        opacity: 1;
    }
    
    .pic7:hover img {
        opacity: 0.3;
    }
    
    .pic7:hover .middle {
        opacity: 1;
    }
    
    .pic8:hover img {
        opacity: 0.3;
    }
    
    .pic8:hover .middle {
        opacity: 1;
    }
    
    .pic9:hover img {
        opacity: 0.3;
    }
    
    .pic9:hover .middle {
        opacity: 1;
    }
    
    .text {
        background-color: #605F5E;
        color: white;
        font-size: 16px;
        padding: 16px 32px;
    }
    
    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%)
    }
    
    picture {
        position: relative;
    
    }
    
}