/* html selectors */
body, html, header{
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    background-color:#fffd98;
    margin: 0;
    padding: 0;
    
    /* margin-top: -20px; */

}
a:link, a:visited {
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: block;
  }
  
a:hover, a:active {
    background-color: #605F5E;
    color: white;
}
body{
    background-color: #E8f7ee;
}

ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Lato';
    align-items: center;
    
}

.navigation li:first-child {
    display: block;
    /* text-align: center;
    align-items: center; */
}

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */


.picture-one{
    width: 20%;
}
header{
    align-items: center;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    font-family: 'Lato';
    justify-content: center;

}

footer{
    background-color: cadetblue;
    font-family: 'Lato';
    padding: 1em;
    text-align: center;
}


main{
    max-width: 1080px;
    margin: 0 auto;
    font-family: 'Lato';
}

h1{
    text-align: center;
    font-family: 'Noto Sans JP';
    /* z-index: 1; */
}

h2{
    text-align: center;

}



/* class selectors */

/* #hero{
    background-color: #23395b;
    padding: 1em;
    margin: 10px;
    color: #E8f7ee;
    
}

#preston{
    background-color: #23395b;
    padding: 1em;
    margin: 10px;
    color: #E8f7ee;

}
#five_day_forcast{
    background-color: #23395b;
    padding: 1em;
    margin: 10px;
    color: #E8f7ee;

}
#contact{
    background-color: #23395b;
    padding: 1em;
    margin: 10px;
    color: #E8f7ee;

}

#article{
    background-color: #23395b;
    padding: 1em;
    margin: 10px;
    color: #E8f7ee;
} */

#five_day_forcast{
    padding: 1em;
    margin: 10px;
    color: #E8f7ee;
}

.forcast_header{
    color: black;
}

.navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: block;
}

.responsive li {
	display: none;
}

.preston{
    text-align: center;
    padding: 10px;
}

#weather_summary{
    position: relative;
    bottom: 8em;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    max-width: 300px;
    /* color: white; */
}
table{
    width: 100%;
    background-color: #23395b;
    border-radius: 2%;
    padding: 8px;
}

table, tr, th, td{
    border: 1px solid white;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;

    
}

.hero_pic{
    width: 100%;
    margin: 0;
    /* margin: auto; */
    margin-bottom: -150px;
}

.article_pic{
    float: right;
    padding: 20px;
    max-width: 60%;
}

section{
    margin: 30px;
}

/* #weather_summary{
    border: 2px solid black;
    padding: 15px;
    margin: 10px;
} */



/* .contact_info{
    align-items: center;
} */

aside{
    background-color: yellow;
    padding: 10px;
    text-align: center;
}
.contact_info{
    display: inline-flex;
    border: 2px solid black;
}

iframe{
    display: block;
    margin-left: 10%;
    width: 70%;
    align-items: center;
}


