ul{
    list-style: none;   
}

ul li a {
    text-decoration: none;
    float: right;
    padding: 15px;
    color: black;
   
}
.flex{
    display: flex;
    flex-direction: column;
    
}


header{
    border-top: 20px solid black;

}
body{
    max-width: 1000px;
    margin: auto;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: cadetblue;
}

.first_paragraph{
    margin-top: 5em;
    text-align: center;
}

h1 h2 {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

/* h2{
    text-align: center;
} */
h1{
    margin-top: -2em;
}

.picture-one{
    margin-top: -5.3em;
}