

ul {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: space-evenly;
    color: black; 
    list-style: none;
    padding: 2em;
}

ul li a{
    text-decoration: none;
}

body{
    max-width: 1000px;
    margin: auto;
    border: 2px solid black;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: cadetblue;
}

.first_paragraph{
    margin-top: 5em;
    text-align: center;
}

h2 {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

/* .picture-one{
    margin-top: -2.3em;
} */