/* --------------- header ------------- */
li {
    margin-bottom: 1.5em;
    padding: 20px;
}

ul li a {
    color: White;
    font-family: 'Quicksand';
    font-size: larger;
    text-decoration: none;

}
li a {
  list-style: none;
  color: white;
  font-family: 'Quicksand';
}

li{
  list-style: none;
 
}

a{
  text-decoration: none;
}

ul {
    list-style: none;
}


a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}


.favicon{
    margin-top: 60px;
    width: 45px;
}

body{
    text-align: center;
}

.landscape{
    text-align: center;
}
.navigation li:first-child {
    display: block;
}

.responsive li {
    display: none;
}

.navigation {
    display: flex;
    flex-direction: column;
    text-align: center;
}


/* ----------------- body ------------------ */
body {
    background-color: #293C32;
    color: white;
    font-family: 'Quicksand';
}

/* ----------------main------------------- */
.motto {
    font-weight: bolder;
    padding: 10px;
    font-size: 3em;
    float: none;
}

.landscape {
    width: 90%;
    padding: 4.5em;
}


/* ---------------sections-------------------- */
.grid{
  display: grid;
  grid-template-columns: 1fr;
}

form{
  padding: 10px;
  margin: 20px;
}

input{
  padding: 10px;
  margin: 20px;
  width: 25em;
}

.label{
  display: block;
  padding: 10px;
}

.submit{
  margin: 20px;
  background-color: black;
  color: white;
  padding: 10px;
  border: 2px solid black;
}
  



/* ---------------button-------------- */
button {
    background-color: black;
    color: white;
    border: 2px solid black;
    height: 75px;
    width: 200px;
    font-size: larger;
    border-radius: 5px;
}

.button {
    text-align: center;
    margin: 4em;
}

/* --------------------footer------------------- */
footer {
    background-color: black;
    font-family: 'Montserrat', 'Lucinda Sans Unicode';
    padding: 2em;
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Quicksand';

}
