table, td{
    border: 1px solid gray;
    padding: 12px;
    border-collapse: collapse;
    font-family: 'Ubuntu', 'sans-serif';
    text-align: center;
}   

table#tables tr:nth-child(even){
    background-color:#e7f0ed;
}

table#tables tr:nth-child(odd){
    background-color: #e7ffed;
}
thead tr td{
    color: black;
    font-size: 30px;
    font-weight: bolder;
}
tfoot tr td{
    color: black;
    font-size: .7em;
    font-weight: bolder;
}
table#tables tr:nth-child(1){
    color: white;
}

table#tables tr:nth-child(5){
    color: white;
}


