/* --------------- header ------------- */
li {
    margin-bottom: 1.5em;
    padding: 20px;
}

ul li a {
    color: White;
    font-family: 'Quicksand';
    font-size: larger;
    text-decoration: none;

}

ul {
    list-style: none;
}


a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

/* .title{
    text-align: center;
} */

.favicon{
    margin-top: 60px;
    width: 45px;
}

body{
    text-align: center;
}

.landscape{
    text-align: center;
}
.navigation li:first-child {
    display: block;
}

.responsive li {
    display: none;
}

.navigation {
    display: flex;
    flex-direction: column;
    text-align: center;
}


/* ----------------- body ------------------ */
body {
    background-color: #293C32;
    color: white;
    font-family: 'Quicksand';
}

/* ----------------main------------------- */
.motto {
    font-weight: bolder;
    padding: 10px;
    font-size: 3em;
    float: none;
}

.landscape {
    width: 90%;
    padding: 4.5em;
}


/* ---------------sections-------------------- */
.temple-pic-1{
  float: right;
} 

.weather_summary1{
  float: right;
}

.paragraph1{
  width: 800px;
  margin: auto;
}

  



/* ---------------button-------------- */
button {
    background-color: black;
    color: white;
    border: 2px solid black;
    height: 75px;
    width: 200px;
    font-size: larger;
    border-radius: 5px;
}

.button {
    text-align: center;
    margin: 4em;
}

/* --------------------footer------------------- */
footer {
    background-color: black;
    font-family: 'Montserrat', 'Lucinda Sans Unicode';
    padding: 2em;
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Quicksand';

}
