/* --------------- header ------------- */
li {
    margin-bottom: 1.5em;
    padding: 20px;
}

ul li a {
    color: White;
    font-family: 'Quicksand';
    font-size: larger;
    text-decoration: none;

}

ul {
    list-style: none;
}


a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.title{
    text-align: center;
}

.motto{
    text-align: center;
}

body{
    text-align: center;
}

.landscape{
    text-align: center;
}
.navigation li:first-child {
    display: block;
}

.responsive li {
    display: none;
}

.navigation {
    display: flex;
    flex-direction: column;
    text-align: center;
}


/* ----------------- body ------------------ */
body {
    background-color: #293C32;
    color: white;
    font-family: 'Quicksand';
}

/* ----------------main------------------- */
.motto {
    font-weight: bolder;
    padding: 10px;
    font-size: 3em;
}

.landscape {
    width: 90%;
    padding: 4.5em;
}


/* ---------------sections-------------------- */
.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px; 
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    /* position: relative; */
    width: 600px;
    height: 400px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 600px;
    height: 400px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: #293C32;
    color: white;
    transform: rotateY(180deg);
  }




/* ---------------button-------------- */
button {
    background-color: black;
    color: white;
    border: 2px solid black;
    height: 75px;
    width: 200px;
    font-size: larger;
    border-radius: 5px;
}

.button {
    text-align: center;
    margin: 4em;
}

/* --------------------footer------------------- */
footer {
    background-color: black;
    font-family: 'Montserrat', 'Lucinda Sans Unicode';
    padding: 2em;
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Quicksand';

}































/* .image-1 {
    width: 40%;
    margin: 4em;

}

.image-2 {
    width: 40%;
    margin: 4em;

}

.paragraph-1 {
    margin: 4em;
    padding: 2em;
    font-size: larger;
    max-width: 500px;

}

.paragraph-2 {
    margin: 4em;
    padding: 2em;
    font-size: larger;
    max-width: 500px;

} */