body {
    color: lightyellow
    font-family: Impact, sans-serif;
    }

header{
    max-width: 400px;
    background-color: blueviolet;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
}

footer{
    max-height: 200px;
    max-width: 400px;
    background-color: blueviolet;
    font-family: 'Trebuchet MS', 'Lucinda Sans Unicode';
}

html{
    float: left;
}
